body{
    width: 90vw;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    width: 45vw;
    height: 500px;
    display: block;
    position: relative;
    padding: 1em;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

.container:nth-child(odd){
    background-color: #ecf0f1;
    float: right;
}

.container:nth-child(even){
    background-color: #34495e;
    color: white;
    float: left;
}

.container img{
    display: block;
    height: 400px;
    margin: 0 auto;
}

.container p {
    width: 70%;
    margin: 0 auto;
}


.container h2, h3{
    
}