@import url('https://fonts.googleapis.com/css?family=Montserrat');

.rawHTMLContainer{
    width: 300px;
    height: auto;
    position: fixed;
    right: 0;
    top: 0;
    border: 2px solid black;
    background: linear-gradient(rgb(66, 66, 66), rgb(90, 32, 32));
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    z-index: 999;
}

.rawHTMLContainer--init{
    color: white;
    position: relative;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-gap: 1rem;
    padding: .4rem;
    max-height: 40px;
}

.rawHTMLContainer--init svg{
    width: 140px;
    height: 28px;
}

#rawHTMLContainer__button{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
	background:-moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
	background-color:#b8e356;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
	border: 3px solid #83c41a;
    cursor:pointer;
    color: white;
	font-size:18px;
}

#rawHTMLContainer__button:hover{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
	background:-moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
	background-color:#a5cc52;
}

.rawHTMLContainer--mini{
    width: 60px;
    height: 20px;
    display: flex;
    align-content: center;
    border-radius: 3px;
    animation: slide-out .2s linear 1s forwards;
}

@keyframes slide-out{
    to{
        right: -200px;
    }
}

.rawHTMLContainer a{
    color: white;
}

#parentSquare{
    max-height: 450px;
    background-color: rgb(66, 66, 66);
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 8px;
}

#parentSquare.validator--disable-scroll{
    overflow-y: hidden;
}

.validator--lightTheme{
    color: #fff;
}

.validator--center{
    text-align: center;
}

.validator--center img{
    width: 40%;
}

.validator--loading{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #232527;
    width: 20px;
    height: 20px;
    display: inline-block;
    -webkit-animation: spin 0.3s linear infinite;
    animation: spin 0.4s linear infinite;
    left: calc(50% - 20px);
    position: relative;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#validationListMenuBar{
    display: flex;
    align-items: center;
    width: 300px;
    height: 25px;
    padding: 5px;
    border-bottom: 1px solid black;
    color: white;
    cursor: pointer;
    transition: all .2s;
    animation: popText .5s;
}

@keyframes popText{
    0%{
        color: white;
    }
    50%{
        color: red;
        font-size: 1.1em;
    }
    100%{
        color: white;
        font-size: initial;
    }
}

#validationListMenuBar:hover{
    height: 30px;
}

.extendedBtn{
    position: absolute;
    color: white;
    transform: rotate(-90deg);
    right: 30px;
    font-size: 18px;
}

.extendedBtn.extended{
    color: #fff;
    transform: rotate(90deg);
}

.validator__warning-icon, .validator__error-icon, .validator__active-icon{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin: 3px;
    margin-top: 3px;
}

.validator__warning-icon{
    display: none;
    background-color: rgb(255, 255, 0);
}

.validator__error-icon{
    display: none;
    background-color: rgb(252, 54, 54);
}

.validator__active-icon{
    background-color: rgb(67, 228, 67);
    display: inline-block;
}

.validator__warning--hide{
    display: none;
}

.validator__smallIcon{
    width: 50px;
    height: 20px;
    position: absolute;
    left: calc(50% - 25px);
    display: none;
}

.rawValidationIcon{
    width: 100%;
    height: 100%;
}

.validator__inline-block{
    display: inline-block;
}

.validatorListContainer{
    position: absolute;
    color: black;
    height: 0;
}

.validatorListContainer--expanded{
    position: relative;
    height: auto;
}

#parentSquare h4, p{
    padding: 0;
    margin: 0;
    padding: 0.3em;
}

#parentSquare h4{
    display: inline-block;
}

.rawValidatorListItem__goToBox{
    position: relative;
    float: right;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 18px;
    background-color: black;
    margin-right: 3em;
    margin-top: 0.5em;
    cursor: pointer;
}

.rawValidatorListItem{
    width: 300px;
    min-height: 80px;
    border-bottom: 3px solid black;
}

.codeLine{
    background-color: lightgray;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.validator-hilite{
    background-color: rgb(255, 255, 0);
}

.warning{
    background-image: linear-gradient(to right, #fbff86, #faeb7d);
}

.error{
    background-image: linear-gradient(to right, #fc7e68, #fd7063);
}

.rawValidatorListItem p{
    padding-right: 33px;
}

.rawValidatorListItem__rowinfo{
    text-decoration: underline;
    cursor: pointer;
}

.rawValidatorListItem h4{
    text-transform: capitalize;
}

.rawValidatorInfoBox{
    position: fixed;
    min-width: 300px;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 0;
    margin: 0;
}

.infoBoxRow{
    border-bottom: 1px solid black;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}

.lineNumber{
    padding: 3px;
    margin-right: 1em;
}

.tooltip{
    font-family: Verdana, sans-serif;
    position: absolute;
    min-width: 50px;
    min-height: 50px;
    max-width: 300px;
    padding: 10px;
    border: 2px solid red;
    background-color: gray;
    cursor: pointer;
    z-index: 9999;
}

.hilite{
    background-color: yellow;
}

.validator-dark-overlay{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 997;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    animation: validator-fade 0.2s;
}

@keyframes validator-fade{
    from{
        background-color: rgba(0,0,0,0);
    }
    to{
        background-color: rgba(0,0,0,0.5);
    }
}

.validator-overlay-left, .validator-overlay-right{
    position: fixed;
    height: 40px;
    top: 0;
    border-radius: 8px;
    border: 2px solid rgb(85, 39, 39);
    box-shadow: 0 0 20px rgb(85, 39, 39);
    z-index: 998;
}

.validator-overlay-left{
    left: 0;
}

.validator-overlay-right{
    right: 0;
}